.resumeTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 22cm;
  margin: 0 auto;
}

.resume {
  border: 6px solid var(--navy);
  margin: 0 auto;
  width: 21cm;
  height: 29.7cm;
  padding: 8px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeLeft {
  width: 67%;
  height: 100%;
  overflow: hidden;
  margin-right: 8px;
}

.resumeRight {
  width: 33%;
  height: 100%;
  overflow: hidden;
}

.rightBottom {
  background-color: var(--grey);
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  height: 74%;
}

@media print {
  .resumeTemplate {
    width: 100%;
    height: 100%;
    margin: none;
  }
  .resumeTemplate > a {
    display: none;
  }

  body {
    visibility: hidden;
  }
  .resume {
    visibility: visible;
  }
}
